<app-header [text]="property.title"></app-header>

<div class="flex-center-column">
  <div class="flex-center-row">
    <div class="flex-center-column x-col">
      <app-gallery style="width: 800px" [images]="images"></app-gallery>
    </div>

    <div class="flex-center-column s-col">
      <p style="font-size: x-large; margin-bottom: 25px">
        {{ property.public_id }}
      </p>
      <p-badge
        style="margin-bottom: 25px"
        [value]="property.property_type"
      ></p-badge>
      <p style="font-size: large">
        <mat-icon aria-hidden="false" fontIcon="pin_drop"></mat-icon>
        {{ property.location.name }}
      </p>

      <app-contact-form
        [params]="{ id: property.public_id }"
      ></app-contact-form>
    </div>
  </div>

  <div
    style="font-size: large; line-height: 30px"
    class="flex-center-row description"
  >
    {{ property.description }}
  </div>
</div>
